.search-area {
  display: flex;
  margin: 3rem 15rem 0;
  justify-content: space-between;
}

.search-header {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.searchbar {
  width: 13rem;
  height: 2rem;
  border: 1px solid rgba(192, 191, 191, 0.651);
  border-radius: 5px;
}

::placeholder {
  font-weight: 600;
  padding-left: 0.5rem;
  opacity: 0.8;
}
