:root {
  --background-color: #faf9fe;
  --text-color: #646470;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.active {
  background-color: #7065ee3f;
  color: #7065ee;
}

.main-logo {
  width: 2rem;
  margin-right: 0.2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 700;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-logo {
  text-align: left;
  font-size: 1.5rem;
  color: royalblue;
  cursor: pointer;
}

.navbar-tabs > ul {
  display: flex;
  list-style: none;
}

.navbar-tabs > ul > li {
  margin-left: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-tabs > ul > li:hover {
  background-color: #7065ee3f;
  color: #7065ee;
}

.navbar-buttons > button {
  height: 2.5rem;
  width: 5rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 700;
  cursor: pointer;
  /* HIDDEN */
  display: none;
}

.login {
  background-color: white;
  color: #7065ee;
}

.signup {
  background-color: #7065ee;
  color: white;
}
